/*
External libraries

Libraries used:
* [Normalize](https://github.com/reitermarkus/normalize.less)
* [LessHat](https://github.com/csshat/lesshat)

Weight: -100

Styleguide lib
 */

@import "../../bower_components/normalize-less/normalize.less";
@import "../../bower_components/lesshat/build/lesshat.less";


/*
Variables & Mixins

Weight: -99

Styleguide less
 */

@import "variables";
@import "mixins";


/*
Base

Weight: -98

Styleguide base
 */

@import "base";


/*
States

A state is a temporary class that can be added to any component.
All states is prefixed with ".is-". For example ".is-active", ".is-highlighted"..

Weight: -97

Styleguide states
 */

@import "states";


/*
Helpers

Helpers are classes that can be added to any component.
For example ".float_right", ".clearfix", ".no_link", ".bold"..

Weight: -96

Styleguide helpers
 */

@import "helpers";


/*
Layout

Site structure & other layout related stuff belongs here.
For example "#header", "#footer", "#content"..

Weight: -95

Styleguide layout
 */

@import "layout";


// Styleguide-theme
@import "styleguide";


// Components
@import "components";
